/*bonus:*/
:root {
    --info-blue: #c3d6f9;
    --success-green: #c6f5d8;
    --warning-yellow: #fcfcc3;
    --error-red: #ffd1d8;

}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    font-size: 0.8em;
    border: 1px solid lightgrey;
    margin: 0.5em 1.2em;
    padding: 0.5em;
    border-radius: 5px;
}

.message-info {
    background-color: var(--info-blue);
    color: #4b3fa5;
}

.message-success {
    background-color: var(--success-green);
    color: #007334;
}

.message-warning {
    background-color: var(--warning-yellow);
    color:#9b8600;
}

.message-error {
    background-color: var(--error-red);
    color: #900234
}